html,body{
    height: 100%;
    font-family: "Consolas", "游ゴシック体", "sans-serif";
    font-size: 16px;
}
@media(max-width: 767px){
    html,body{
        font-size: 12px;
    }
}
.navbar-top{
    position: sticky;
    top: 0;
    width: 100%;
    height:10%;
}
header { 
    height: 80%; 
    position: relative; 
    background-color: rgb(255, 255, 255); 
}

img{
    max-width:100%; /* 圖片放大比例不超過原圖大小 */
    max-height:100%;
}


/* 滑鼠滑入顯示按鈕 */
.carousel-control-prev, .carousel-control-next, .carousel-indicators {
opacity: 0;
/* Firefox */
-moz-transition-property: opacity;
-moz-transition-duration: 0.2s;
-moz-transition-delay: 0.2s;
/* WebKit */
-webkit-transition-property: opacity;
-webkit-transition-duration: 0.2s;
-webkit-transition-delay: 0.2s;
/* Opera */
-o-transition-property: opacity;
-o-transition-duration: 0.2s;
-o-transition-delay: 0.2s;
/* chrome */
transition-property: opacity;
transition-duration: 0.2s;
transition-delay: 0.2s;
}
.carousel-control-prev:hover .carousel-control-prev, 
.carousel-control-next:hover .carousel-control-next{
opacity: 1.0;
}
@media (max-width: 768px) { 
    .carousel:hover .carousel-control-prev, 
    .carousel:hover .carousel-control-next{
    opacity: 1.0;
    }
}


/* navbar部分 */
.logo{
    height: 108px;
}
@media (max-width: 768px){
    .logo{
        height: 54px;
    }
}

@media (max-width: 767px) { 
     .navbar-collapse-bg{
        background-color: rgba(99, 90, 90, 0.308);
        position: absolute;
        width: 120px;
        right: 10px;
        top: 105%;
        z-index: 5;
    }
    .home-text2{
        display:none;
    }
}/* 摺疊選單背景 */

.dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0;
}/* dropdown-menu觸發由click改為hover */

.dropdown-menu{
    min-width: 75px;
    text-align: center;
}


.dropdown-toggle::after {
    display:none;
}/* 隱藏dropdown-menu旁的箭頭 */

/* 按鈕滑入滑出效果 */
@media(min-width: 768px){
    .navbar-nav{
        font-size: 0.8rem;
        min-width: 20%;
        margin-top: 50px;
        font-family: "Cambria";
        letter-spacing: 2px;
    }
    .home-hover{
        position: relative;
        height: 40px;
        padding: 0;
    }
    .home-text1{
        top: 0;
        position: absolute;
        -webkit-transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        -o-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }
    .home-text2{
        top: 0;
        left: 5px;
        position: absolute;
        transform:scaleY(0);
        transition:transform 0.2s;
    }    
    .home-hover:hover .home-text1{opacity: 0;}
    .home-hover:hover .home-text2{transform:scaleY(1);}
    .home-hover:hover .home-text3{transform:scaleX(1);}
}



/* slideBox部分 */
.slideBox{
    position: absolute;
    width: 28%;
    min-width: 120px;
    max-width: 300px;
    height: 65%;
    margin-left: 0;
    margin-top: 5%;
    z-index: 2;
    animation-name: fade-left;
    animation-duration: 1s;
    animation-iteration-count: 1;
    background-color: rgba(255, 255, 255, 0.75);
}
@media (max-width: 768px){
    .slideBox{
        width: 45%;
        height: 40%;
        min-width: 130px;
        min-height: 170px;
        margin-top: 15%;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1.0;
    }
}
.slideBox_img{
    max-width: 100%;
    position: absolute;
}
.sbt01{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0;
    font-family: "Cambria";
    color:rgb(88, 98, 192);
}
.sbt02{
    font-size: 0.75rem;
    padding: 0;
    font-family: "Cambria";
}
.sbt03{
    font-size: 0.8rem;
    padding: 0;
    font-family: "Cambria";
}




/* footer部分 */
.footer{
    position: relative;
    padding-bottom: 10px;
    bottom: 0;
    width: 100%;
    height:10%;
    color:rgb(70, 66, 66)
}
@media(max-width: 767px){
    .footer{
        height:20%;
    }
}


.bg-2{
    font-size: 1.5rem;
    /*background-color: green;*/
    display: none;
}
.bg-3{
    font-size: 0.75rem;
    letter-spacing: 2px;
    /*background-color: red;*/
}
.bg-4{
    font-size: 0.75rem;
    letter-spacing: 2px;
    /*background-color: yellowgreen;*/
}
.bg-5{
    font-size: 0.75rem;
    letter-spacing: 2px;
    /*background-color: blue;*/
}
.bg-6{
    font-size: 0.75rem;
    letter-spacing: 2px;
    /*background-color: blue;*/
}

.footer-content{
    height:100%;
    margin-top: 0;
    text-align: center;
}
@media(max-width: 767px){
    .footer{
        height:20%;
    }
    .bg-4, .bg-6{
        display: none;
    }
    .bg-2, .bg-3, .bg-5{
        display: inline-block;
    }
    .bg-5{
        bottom: 20px;
    }
}

/* Project Page */

t1{
    font-size: 5vmin; font-family: "Cambria";
}
t2{
    font-size: 1vmin;
}
t3{
    font-size: 0.7vmin;
} 
t4{
    font-size: 1.5rem;
}
t5{
    font-size: 12px;
    position: relative;
    left: 0;
    top: 0;
}


.forcefontsize10 {
    display: inline-block;
    font-size: 12px;
    -webkit-text-size-adjust:none;
    -webkit-transform : scale(0.66,0.66);
}


.projectBox{
    position: relative;    
    min-height:900px; 
    margin-top: 20px; 
    margin-bottom: 20px;
}
@media (max-width: 768px){
    .projectBox{
        min-height:600px;
    }
}

.proBorder{
    width: 100%;
    border: transparent;
    border-top: gray;
    border-style: solid;
}

.project2pics{
    margin-top: 15px;
}
@media(min-width: 768px){
    .project2pics{
        top: -50px; 
        vertical-align: top;
    }
}


.gotoTop {
	padding: 0;
	margin: 0;
	border: 0;
	cursor: pointer;
	position:fixed;
	right: 0.5rem;
	bottom: 11%;
    display: none;    
}

/* Project01 Page */
.title{
    text-align: center;
    justify-self: center;
    font-size: 5rem;
}
.projectDetai{
    padding: 0px;
    height: 250px;
}
.projectDetaiText{
    height: 250px;
    display: inline-block;
    background-color: rgb(209, 199, 199);
}
.projectDetaiFBIG{
    margin: 0; 
    margin-top: 20px; 
    display: inline-block; 
    vertical-align: top;
}
.pSlcikPics{
    height: auto; 
    margin-bottom: 10px;
    padding: 0px;
    padding-bottom: 10px; 
    background-color: rgb(209, 199, 199);
}
.pSlcikPicsText{
    padding-top: 50px;
    padding-left: 30px;
    font-size: 1.0rem;
    background-color: rgb(209, 199, 199);
    text-align: left;
}

/* About Page */
.aboutTop{
    height: 400px; 
    background-color: rgb(209, 199, 199);
}
@media(max-width: 768px){
    .aboutTop{
        height: 200px;
    }
}